* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  height: 100vh;
}

.whole-page-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #007ac7;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: 100px 50px 50px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
}

.top-section-left {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  font-weight: lighter;
  text-align: left;
}

.top-fill-middle {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.top-section-right {
  position: relative;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: white;
  margin-top: 30px;
  margin-right: 40px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
}

.current-time {
  height: 100%;
  color: #007ac7;
  position: absolute;
  font-size: 300%;
  margin-left: 40px;
}

.fill-empty-row {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.bus-line-title {
  color: white;
  margin-left: 50px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  border-bottom: 5px solid white;
  text-align: left;
  font-size: 150%;
  margin-bottom: 15px;

}
.bus-destination-title {
  color: white;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  border-bottom: 5px solid white;
  text-align: left;
  font-size: 150%;
  margin-bottom: 15px;

}
.bus-arrival-title {
  color: white;
  margin-right: 50px;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  border-bottom: 5px solid white;
  text-align: right;
  font-size: 150%;
  margin-bottom: 15px;

}

.bus-number {
  color: white;
  margin-left: 50px;
  grid-row: span 1;
  grid-column: span 1;
  font-size: 250%;
}

.bus-destination {
  color: white;
  grid-row: span 1;
  grid-column: span 1;
  font-size: 250%;
}

.bus-arrival {
  color: white;
  margin-right: 50px;
  grid-row: span 1;
  grid-column: span 1;
  text-align: right;
  font-size: 250%;
}
